.home-image {
    background: #FFBF00;
    height: 13rem;
}
.home-container {
    width: 90%;
    margin: 3rem auto;
}
.category-title {
    font-size: 1.8rem;
    font-family: var(--category-font);
    display: flex;
    align-items: center;

    .emoji, .material-symbols-outlined {
        margin-left: 0.6rem;
    }
    .material-symbols-outlined {
        color: #0e84b5;
    }
    .emoji {
        font-size: 1.5rem;
    }
}
.category-desc {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}
.row {
    padding: 2rem 0;
}
[class^="col-"] {
    margin-bottom: 1rem;
    height: 13rem;
    padding: 0 1rem;
}
.home-post {
    background: #bb60d5;
    width: 100%;
    height: 100%;
}
