/*---------------- HTML ----------------*/
h1, h2, h3, h4, h5, h6 {
    display: flex;
    font-weight: 700;
    padding: 0.5rem 0;
    margin: 0;

    &:before {
        display: inline-flex;
        margin-right: 0.3rem; /* 오른쪽 여백 추가 */
        align-items: center;
        justify-content: center;
    }
}
h3 {
    font-size: 1.4rem;
    background: #CCEBFF;
    margin-top: 4rem;

    &:before {
        content: '🐬';
    }
    &:first-child {
        margin-top: 0;
    }
}
h4 {
    width: fit-content;
    font-size: 1.1rem;
    background: rgba(224, 224, 224, 0.6);
    padding-left: 0.1rem;
    padding-right: 0.6rem;
    margin-top: 1.5rem;

    &:before {
        content: '🧊️';
    }
}
h5 {
    font-size: 1.1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        position: relative;
        margin: 1rem 0;
        font-size: 1.1rem;
        padding-left: 1.5rem;
        line-height: 1.5rem;

        &:before {
            position: absolute;
            left: 0.1rem;
            content: '🔹';
            font-size: 0.9rem;
            height: 1.5rem;
            display: inline-flex;
            align-items: center;
            justify-items: center;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
table {
    margin: 0.5rem 0;

    &:last-of-type {
        margin-bottom: 0;
    }
    & th {
        border-bottom: 1px solid #dee2e6;
    }
    & th, td {
        padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    }
    & tr {
        border-bottom: 1px solid #dee2e6;

        &:last-of-type {
            border-bottom: 0;
        }
    }
    & td {
        border-left: 1px solid #dee2e6;

        &:first-of-type {
            border-left: 0;
        }
        &:last-of-type {
            border-bottom: 0;
        }
        & li:last-of-type {
            margin-bottom: 0 !important;
        }
    }
}

/*---------------- 마크 다운 ----------------*/
blockquote { /*-- > 인용구 --*/
    display: flex;
    font-size: 1.1rem;
    background: #f5f5f5;
    padding: 1rem 1rem 1rem 0.7rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    font-weight: 500;

    &:before {
        content: "💡";
        margin-right: 0.5rem;
    }
}

/*---------------- 목차 네비 ----------------*/
indexnav {
    display: block;
    position: fixed;
    top: 10rem;
    right: 1.5rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;

    navicon {
        display: block;
        padding: 0.1rem 0.3rem;
        border-radius: 0.5rem;
        cursor: pointer;
    }

    navlist {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid #dee2e6;
        padding: 0.1rem 1rem;
        border-radius: 0.5rem;
        position: relative;

        navmenu {
            display: block;
            height: 1.5rem;
            position: relative;

            .fa-ellipsis, .fa-xmark {
                cursor: pointer;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            .fa-ellipsis {
                left: -0.4rem;
                font-size: 1.5rem;
                background: linear-gradient(to right, #FF6600, #FFBF00, #1e90ff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
            }
            .fa-xmark {
                right: -0.4rem;
                font-size: 0.7rem;
            }
        }

        index {
            display: block;
            cursor: pointer;

            &.active {
                color: #f65660;
            }
            &.sub {
                padding-left: 0.4rem;
                font-size: 1rem;
            }
        }

    }
}

/*---------------- 필기용 태그 ----------------*/
parentheses { /*-- 소괄호 --*/
    display: inline;
    font-weight: 100 !important;
    font-size: 0.9em !important;
}
desc { /*-- @@ 태그 --*/
    display: block;
    background: #f5f5f5;
    padding: 1rem;
    margin: 1rem 0;
}
plus { /*-- ++ 태그 --*/
    display: block;
    background: #eeeeee;
    padding: 1rem;
    margin: 1rem 0;
}