@import url(//fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);
@import url('https://fonts.googleapis.com/css?family=Gelasio|Kulim+Park|Nanum+Myeongjo|Nanum+Gothic|Noto+Sans|Noto+Sans+KR|Roboto&display=swap');
@import url(syntax/monokai.css);
@font-face {
	font-family: 'Binggrae';
	/*font-weight: normal;*/
	src: url('../font/Binggrae.ttf') format('truetype');
}
/*@font-face {*/
/*	font-family: 'Naver';*/
/*	font-weight: bold;*/
/*	src: url('../font/nanum-barun-pen/NanumBarunpenB.ttf') format('truetype');*/
/*}*/
@font-face {
	font-family: 'SUITE';
	font-weight: 300;
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 400;
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 500;
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 600;
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 700;
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 800;
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 900;
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Heavy.woff2') format('woff2');
}

:root {
	--header-height: 2.2rem;
	--header-img-height: 13rem;
	--note-background-color: #e1e4e8;
	--hover-background-color: #e1e4e8;
	--hover-font-color: #004080;
}

a {
	color: #333333;
	text-decoration: none;

	&:hover {
		color: #004080;
	}
}

.row {
	margin: 0 auto;
	width: 95%;
}

/*------------------ 기본 설정 ------------------*/
* {
	margin: 0;
	padding: 0;
	font-family: "SUITE", sans-serif;
	font-size: 1.1rem;
	line-height: 1.5;
	color: #333333;
}
p {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: var(--header-img-height);
	object-fit: cover;
	object-position: center;
}
.container {
	max-width: 100vw !important;
	padding: 0;
	min-height: 100vh;
}
.emoji {
	font-size: 1em;
	width: 1.5em;
	height: 1.5em;
}

/*---------------- 헤더 ----------------*/
header {
	/* 드래그 방지 */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* 비표준 브라우저를 위한 기본값 */

	height: var(--header-height);
	display: flex;
	padding: 0 1rem;
	align-items: center;
	border-bottom: 1px solid #dee2e6;
	font-weight: 500;
	font-size: 0.9rem;
	background: white;
	width: 100%;

	span {
		font-size: 0.9rem;
		font-weight: 500;
		display: inline-flex;
	}
	a {
		font-size: 0.9rem;
	}

	.header-path {
		display: flex;
		width: 100%;

		.header-recent-file-path {
			display: inline-block;
			flex: 1;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: var(--header-height);
	width: 100%;
}
.fixed-header-background {
	height: var(--header-height);
}

/*---------------- home ----------------*/
.home-container {
	width: 50rem;
	height: 100vh;
	margin: 0 auto;
}

@media(max-width: 60rem) {
	.home-container {
		width: 90%;
	}
}

.home-nick {
	font-size: 1.7rem;
	font-weight: 900;
	margin: 5rem 0 1rem;
}
.home-motto {
	background: var(--note-background-color);
	padding: 1rem;
	margin-bottom: 2rem;
}
.home-container a {
	display: inline-block;
	width: 100%;

	&:hover {
		color: var(--hover-font-color);
		background: var(--note-background-color);
	}
}
.home-profile, .home-projects, .home-posts {
	margin-top: 3rem;
	font-size: 1.3rem;
	font-weight: 600;
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 1rem;
}
a.home-about, a.home-portfolio {
	padding: 0.2rem 0.5rem;
}
.home-post-outer-item, .home-project-outer-item, .posts-outer-item {
	padding: 0.8rem 2%;
}
.home-post-inner-item, .home-project-inner-item, .posts-inner-item {
	cursor: pointer;
	aspect-ratio: 16/10;

	&:hover {
		background: #eeeeee;

		img {
			opacity: 0.8;
		}
	}
}
.home-post-img, .home-project-img, .posts-doc-img {
	overflow: hidden;

	img {
		border: 1px solid #eeeeee;
		box-sizing: border-box;
		aspect-ratio: 16/10;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
.home-post-name, .home-project-title, .posts-doc-title {
	padding: 0.2rem 0.5rem;
	border: 1px solid #e1e4e8;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/*---------------- posts, post-header ----------------*/
img.posts-header-img, img.post-header-img {
	width: 100%;
	height: var(--header-img-height);
	object-fit: cover;
	object-position: center;
	opacity: 0.4;
}
.posts-header-title, .post-header-title {
	padding: 0 1rem;
	text-overflow: ellipsis;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5em;
	font-weight: 700;
}
.posts-header-title, .post-header-title, img.posts-header-img, img.post-header-img {
	position: absolute;
	top: var(--header-height);
	overflow: hidden;
}
.posts-header-background, .post-header-background, .posts-header-title, .post-header-title {
	width: 100%;
	height: var(--header-img-height);
	color: white;
}
.posts-header-background, .post-header-background {
	background: black;
	opacity: 0.6;
}
.posts-row {
	width: 50rem;
	margin: 1.5rem auto;
}
@media(max-width: 60rem) {
	.posts-row {
		width: 90%;
	}
}

/*---------------- post ----------------*/
:root {
	--post-side-background-width: 13rem;
	--post-side-fixed-top: 16rem;
	--post-side-menu-width: 13rem;
}
.post-side-menu-open-btn, .post-side-menu-hide-btn {
	cursor: pointer;

	&:hover {
		color: var(--hover-font-color);
	}
}
.post-side-menu {
	/* 드래그 방지 */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* 비표준 브라우저를 위한 기본값 */

	background: #f9f9f9;
	position: fixed;
	z-index: 99;
	top: var(--header-height);
	left: calc(-1 * var(--post-side-menu-width));
	bottom: 0;
	width: var(--post-side-menu-width);
	transition: left 0.5s ease-out;
	padding: 1.5rem 0;
	overflow-y: auto;

	.post-menu-title {
		display: inline-block;
		width: 100%;
		padding: 0.4rem 1.5rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: 500;
		color: #333333;
		text-decoration: none;

		&:hover {
			background: #eeeeee;
			color: var(--hover-font-color);
		}
	}
}
.post-side-menu-show {
	left: 0;
	transition: left 0.5s ease-out;
}
.post-side-menu-hide-btn {
	display: none;
}
.post-head {
	height: var(--header-img-height);
	background: #00AA88;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 3rem;

	.post-label, .post-title {
		padding: 0 1em;
	}
	.post-label {
		display: flex;
		align-items: center;
		font-weight: 800;
		white-space: nowrap;
	}
	.post-title {
		font-size: 2.7rem;
		font-weight: 700;
		margin-top: 0.5rem;
	}
}
.post-container {
	margin: 0 auto 3rem;
	width: 54rem;
	display: flex;

	.post-content {
		padding: 4rem 0;
		flex: 1;

		/*img {*/
		/*	object-fit: cover;*/
		/*	height: auto;*/
		/*	margin: 0.5rem;*/
		/*	display: inline-block;*/
		/*}*/
	}

	/*.post-side {*/
	/*	width: var(--post-side-background-width);*/
	/*	min-height: 10rem;*/
	/*}*/

	/*.post-side-fixed {*/
	/*	display: none;*/
	/*	position: fixed;*/
	/*	top: var(--post-side-fixed-top);*/
	/*	width: 15rem;*/
	/*	padding: 3rem;*/
	/*	white-space: nowrap;*/
	/*}*/

	/*.post-side-column-direction-scroll {*/
	/*	overflow-y: auto;*/
	/*	max-height: 12.7rem;*/
	/*	box-sizing: border-box;*/
	/*	border: 1px solid #dee2e6;*/
	/*	border-radius: 0.5rem;*/
	/*	padding: 0.5rem;*/

	/*	&::-webkit-scrollbar {*/
	/*		width: 12px;*/
	/*	}*/
	/*}*/

	/*.post-nav {*/
	/*	white-space: nowrap;*/
	/*	padding: 0.2rem 0;*/
	/*	overflow-x: auto;*/
	/*	scrollbar-width: none;*/

	/*	&::-webkit-scrollbar {*/
	/*		display: none;*/
	/*	}*/
	/*}*/

	/*.post-nav-item {*/
	/*	padding: 0.05rem 0;*/
	/*	margin-bottom: 0.5rem;*/
	/*	font-size: 0.9rem;*/
	/*	cursor: pointer;*/

	/*	&:hover {*/
	/*		color: #6a737d;*/
	/*	}*/
	/*	&:last-of-type {*/
	/*		margin-bottom: 0;*/
	/*	}*/
	/*}*/
	/*.post-nav-item-2 {*/
	/*	padding-left: 0.5rem;*/
	/*}*/
	/*.post-nav-item-3 {*/
	/*	padding-left: 1rem;*/
	/*}*/
}
@media (max-width: 90rem) {
	.post-container {
		width: 50rem;
	}
	.post-side {
		display: none;
	}
}
@media (max-width: 57rem) {
	.post-container {
		width: 90%;
	}
	.post-side {
		display: none;
	}
}