@import url(//fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);
@import url('https://fonts.googleapis.com/css?family=Gelasio|Kulim+Park|Nanum+Myeongjo|Nanum+Gothic|Noto+Sans|Noto+Sans+KR|Roboto&display=swap');
@import url(syntax/monokai.css);
@font-face {
	font-family: 'SUITE';
	font-weight: 300;
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 400;
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 500;
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 600;
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-SremiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 700;
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 800;
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 900;
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Heavy.woff2') format('woff2');
}

:root {
	--header-height: 3rem;
	--note-background-color: #e1e4e8;
	--hover-background-color: #e1e4e8;
	--hover-font-color: #004080;
}

* {
	margin: 0;
	padding: 0;
	font-family: "SUITE", sans-serif;
	font-size: 1.1rem;
	line-height: 1.5;
	color: #333333;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	padding: 1rem 0;
}
h3 {
	font-size: 1.4rem;
	background: #fff7f3;

	&:before {
		content: "✅";
		margin-right: 8px; /* 오른쪽 여백 추가 */
	}
}
h4 {
	font-size: 1.3rem;
}
h5 {
	font-size: 1.2rem;
}
.container {
	max-width: 100vw !important;
	padding: 0;
	min-height: 100vh;
}
.emoji {
	width: 2.2em;
	height: 2.2em;
}
p {
	padding: 0;
	margin: 0;
}
table {
	margin: 0.5rem 0;

	& li {
		margin: 0 0 1rem 0.7rem !important;
	}
	&:last-child {
		margin-bottom: 0;
	}
	& th {
		border-bottom: 1px solid #dee2e6;
	}
	& tr {
		border-bottom: 1px solid #dee2e6;

		&:last-child {
			border-bottom: 0;
		}
	}
	& td {
		border-left: 1px solid #dee2e6;
		padding: 0.5rem 0 0.5rem 0.8rem;
		min-width: 10rem;

		&:first-child {
			border-left: 0;
		}
		&:last-child {
			border-bottom: 0;
		}
		& li:last-child {
			margin-bottom: 0 !important;
		}
	}
}
ul li li {
	margin-left: 0.1rem;
}
li {
	padding: 0;
	margin: 1rem 0;

	& p, & table {
		margin-top: 0.5rem;
	}
}

/*---------------- 헤더 ----------------*/
header {
	height: var(--header-height);
	display: flex;
	padding: 0 1.5rem;
	align-items: center;
	border-bottom: 1px solid #dee2e6;
	font-weight: 700;

	a {
		text-decoration: none;
		color: #333333;

		&:hover {
			color: #004080;
		}
	}
}

/*---------------- content ----------------*/
.content > img {
	width: 100%;
	height: 13rem;
	object-fit: cover;
	object-position: center;
}
.posts-row {
	width: 50%;
	margin: 2rem auto;

	.posts-item {
		padding: 1rem;
		font-size: 1.1rem;
		font-weight: 600;

		.posts-inner-item {
			width: 7rem;
			margin: 0 auto;
		}
		a.posts-select-btn {
			cursor: pointer;
			text-decoration: none;
			font-weight: 500;
			color: #333333;

			&:hover {
				color: #004080;
			}
		}
	}
}

/*---------------- home ----------------*/
.home-container {
	width: 50rem;
	height: 100vh;
	margin: 0 auto;

	.home-nick {
		font-size: 1.7rem;
		font-weight: 900;
		margin: 5rem 0 1rem;
	}
	.home-motto {
		background: var(--note-background-color);
		padding: 1rem;
		margin-bottom: 2rem;
	}
	a {
		display: inline-block;
		width: 100%;
		color: #333333;
		text-decoration: none;

		&:hover {
			color: var(--hover-font-color);
			background: var(--note-background-color);
		}
	}
	.home-profile, .home-projects, .home-posts {
		margin-top: 3rem;
		font-size: 1.3rem;
		font-weight: 600;
		border-bottom: 1px solid #dee2e6;
		margin-bottom: 1rem;
	}
	a.home-about, a.home-portfolio {
		padding: 0.2rem 0.5rem;
	}
	a.home-learning-log {
		width: max-content;
		padding: 0.2rem 0.5rem;
	}
	table.home-learning-board {
		margin-top: 3rem;
	}
	.home-post-outer-item {
		padding: 2rem;
	}
	.home-post-inner-item {
		cursor: pointer;
	}
	.home-post-img {
		height: 8rem;
		overflow: hidden;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.home-post-name {
		padding: 0.2rem 0.5rem;
		border: 1px solid #e1e4e8;
	}
}

/*---------------- posts ----------------*/
:root {
	--posts-header-img-height: 13rem;
}

img.posts-header-img {
	width: 100%;
	height: var(--posts-header-img-height);
	object-fit: cover;
	object-position: center;
	opacity: 0.4;
}
.posts-header-background, .posts-header-title {
	position: absolute;
	top: var(--header-height);
	width: 100%;
	height: var(--posts-header-img-height);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	font-weight: 700;
}
.posts-header-background {
	background: black;
	opacity: 0.7;
}
.posts-container {
	padding: 2rem 0;
	width: 50rem;
	margin: 0 auto;
}
.posts-outer-item {
	padding: 2rem;
}
.posts-inner-item {
	cursor: pointer;
}
.posts-doc-img {
	background: #00AA88;
	height: 8rem;
}
.posts-doc-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0.2rem 0.3rem;
	border: 1px solid #e1e4e8;
}

/*---------------- post ----------------*/
:root {
	--post-side-background-width: 15rem;
	--post-side-fixed-top: 17rem;
}
.post-head {
	height: 15rem;
	background: #00AA88;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.post-label, .post-title {
		padding: 0 1em;
	}
	.post-label {
		display: flex;
		align-items: center;
		font-weight: 800;
	}
	.post-title {
		font-weight: 700;
		font-size: 1.8rem;
		margin-top: 0.5rem;
	}
}
.post-container {
	width: 75rem;
	margin: 0 auto 3rem;
	display: flex;

	.post-content {
		flex: 1;
	}

	.post-side {
		width: var(--post-side-background-width);
		min-height: 100vh;

		.post-menu-emoji {
			display: flex;
			align-items: center;
			margin-bottom: 1rem;
			font-weight: 600;
			font-size: 1.1rem;
		}
	}

	.post-side-fixed {
		position: fixed;
		top: var(--post-side-fixed-top);
		width: 15rem;
		padding: 3rem;
		white-space: nowrap;
	}

	.post-side-column-direction-scroll {
		overflow-y: auto;
		height: 10rem;
		padding-right: 0.5rem;
	}

	.post-side-content-menu {
		padding-right: 0.5rem;
		padding-bottom: 1rem;
	}

	.post-nav, .post-menu {
		white-space: nowrap;
		padding-bottom: 0.2rem;
		overflow-x: auto;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.post-nav-item, .post-menu-title {
		padding: 0.05rem 0;
		margin-bottom: 0.5rem;
		font-size: 0.9rem;
		cursor: pointer;

		&:hover {
			color: #6a737d;
		}
	}
}
@media (max-width: 75rem) {
	.post-container {
		width: 50rem;
	}
	.post-side {
		display: none;
	}
}
@media (max-width: 57rem) {
	.post-container {
		width: 90%;
	}
	.post-side {
		display: none;
	}
}