<article class="post">
	{%- for collection in site.collections -%}
	<div class="post-info" id="category-title-{{ collection.label }}">
		<header class="post-header home">
			<div class="post-title">
				<span id='category-name-{{ collection.label }}'>
					{{ collection.label | slice: 0, 1 | upcase }}{{ collection.label | slice: 1, collection.label.size
					}}
				</span>
			</div>
		</header>
		<ul id="show-{{ collection.label }}" class="post-list">
			{%- for post in collection.docs -%}
			<li class="post-list-item post-category-{{ collection.label }}">
				{%- assign date_format = "%Y/%m/%d" -%}
				<span class="post-date">{{ post.date | date: date_format }}</span>
				<a class="post-link" href="{{ post.url | relative_url }}">
					{{ post.title | escape }}
				</a>
			</li>
			{%- endfor -%}
		</ul>
	</div>
	{%- endfor -%}	
</article>

<script src="/public/js/jquery-3.4.1.slim.min.js"></script>
<script>
	$(window).on('hashchange', () => {
		removeCategory();
	});
	$(document).ready(() => {
		removeCategory();
	})

	function removeCategory() {
		if (window.location.hash) {
			let hash = window.location.hash.substring(1);

			let titles = $(`.post-info`).each((i, e) => {
				if (e.id == `category-title-${hash}`) {
					$(e).show();
				} else {
					$(e).hide();
				}
			})
		}
	}
</script>