<img src="{{root_url}}/public/img/home.jpg" alt="{{ site.title }}" />
<div class="home-container">

    <div class="home-nick">DuDuDat</div>
    <div class="home-motto">좋아보이는 거 다 해보기</div>

    <div class="home-profile">🎥 Profile</div>
    <a href="/about" class="home-about">🔥 About me</a>
    <a href="/portfolio" class="home-portfolio">📹 Portfolio</a>

    <div class="home-projects">💻 Projects</div>
    <div class="home-project row">
        {% assign project = site.collections | where: "label", "project" | first %}
        {% assign docs = project.docs %}
        {% for doc in docs %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 home-project-outer-item">
            <div class="home-project-inner-item" onclick="window.location.href='{{doc.url}}'">
                <div class="home-project-img">
                    <img src="{{root_url}}/public/img/{{doc.img}}" alt="{{doc.title}}" onerror="this.onerror=null; this.src='{{root_url}}/public/img/default.jpg';" />
                </div>
                <div class="home-project-title">
                    {{doc.title}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="home-posts">👩‍💻 Posts</div>
    <div class="home-post row">
        {% assign sorted_collections = site.collections | sort: 'order' %}
        {% for collection in sorted_collections %}
        {% if collection.label != 'posts' and collection.label != 'project' %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 home-post-outer-item">
            <div class="home-post-inner-item" onclick="window.location.href='/posts/#{{collection.label}}'">
                <div class="home-post-img">
                    <img src="{{root_url}}/public/img/{{collection.img}}" onerror="this.onerror=null; this.src='{{root_url}}/public/img/default.jpg';" />
                </div>
                <div class="home-post-name">
                {% if collection.name %}
                {{collection.name}}
                {% else %}
                {{collection.label}}
                {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

</div>