<link rel="stylesheet" href="{{root_url}}/public/css/home.css" />
<link rel="stylesheet" href="{{root_url}}/public/css/posts.css" />
<div class="category-head-block">
    <span class="directory-name">Home</span>
    <input type="image" class="posts-image"  src="{{root_url}}/public/img/default/home.jpeg" alt="이미지" />
</div>
<div class="home-container">
    <div class="category-title">팀 프로젝트 <span class="material-symbols-outlined">group</span></div>
    <div class="category-desc">팀으로 진행한 프로젝트</div>
    <script id="team" type="application/json">
        [
            {% assign team = site.project | where: "dir", "team" | sort: "created_date" | reverse %}
            {% for doc in team %}
            {% assign arr = doc.path | split: '/' %}
            {
                "label": "{{ doc.label }}",
                "image": "{{root_url}}/team/img/{{ doc.img }}",
                "url": "{{ doc.url | relative_url | escape }}",
                "title": "{{ doc.title | escape }}",
                "date": "{{ doc.created_date | date: '%Y-%m-%d' | escape }}",
                "content": "{{ doc.content | strip_html | strip_newlines | escape }}"
            }{% unless forloop.last %},{% endunless %}
            {% endfor %}
        ]
    </script>
    <div class="row team"></div>
    <div class="category-title">개인 자작 <span class="emoji">🎮</span></div>
    <div class="category-desc">편의성을 위해 만든 간단한 프로그램</div>
    <script id="personal" type="application/json">
        [
            {% assign personal = site.project | where: "dir", "personal" | sort: "created_date" | reverse %}
            {% for doc in personal %}
            {% assign arr = doc.path | split: '/' %}
            {
                "label": "{{ doc.label }}",
                "image": "{{root_url}}/personal/img/{{ doc.img }}",
                "url": "{{ doc.url | relative_url | escape }}",
                "title": "{{ doc.title | escape }}",
                "date": "{{ doc.created_date | date: '%Y-%m-%d' | escape }}",
                "content": "{{ doc.content | strip_html | strip_newlines | escape }}"
            }{% unless forloop.last %},{% endunless %}
            {% endfor %}
        ]
    </script>
    <div class="row personal"></div>
</div>

<script>
    const team = JSON.parse($('#team').text())
    const personal = JSON.parse($('#personal').text())

    $(document).ready(function() {
        const teamComponent = window.Component({
            jsonData: team
        })
        $('.row.team').html(teamComponent.category())
        const personalComponent = window.Component({
            jsonData: personal
        })
        $('.row.personal').html(personalComponent.category())
    })
</script>