{% assign portfolio = site.posts.first %}

<div class="portfolio-container">
    <div class="post-content">
        {{ portfolio.content | markdownify }}
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.header-path').html(`
            <span class="material-symbols-outlined">chevron_right</span>
            포트폴리오
        `)
    })
</script>
<script>
    $(document).ready(function() {
        $('.sub-title').each(function() {
            // 현재 요소의 다음 형제 요소를 검사
            var nextSibling = $(this).next();

            // 다음 형제 요소가 ul이 아닌 경우
            if (!nextSibling.is('ul')) {
                $(this).css('margin-bottom', '1rem');
            }
        });
    });

</script>
<script src="{{root_url}}/public/js/custom/post-side-nav.js"></script>