{% assign portfolio = site.posts.first %}

<div class="post-container">
    <div class="post-side"></div>
    <div class="post-content">
        {{ portfolio.content | markdownify }}
    </div>
    <div class="post-side">
        <div class="post-side-fixed">
            <div class="post-side-column-direction-scroll">
                <div class="post-nav"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.header-path').html(`
            <span class="material-symbols-outlined">chevron_right</span>
            포트폴리오
        `)
    })
</script>
<script src="{{root_url}}/public/js/custom/post-side-nav.js"></script>