<div class="post-side-menu"></div>

<img class="post-header-img" src="{{root_url}}/public/img/{{page.img}}" onerror="this.onerror=null; this.src='{{root_url}}/public/img/default.jpg';" />
<div class="post-header-background"></div>
<div class="post-header-title">{{page.title}}</div>
<div class="post-container">
    <div class="post-content">{{content}}</div>
</div>
<indexnav>
    <navicon><i class="fa-solid fa-list"></i></navicon>
    <navlist class="d-none">
        <navmenu><i class="fa-solid fa-ellipsis"></i><i class="fa-solid fa-xmark"></i></navmenu>
        <navitem></navitem>
    </navlist>
</indexnav>
<script id="collection" type="application/json">
    {
    {% for collection in site.collections %}
    "{{ collection.label | escape }}": {
    "name": {% if collection.name %}"{{ collection.name | escape }}"{% else %}"{{ collection.label | escape }}"{% endif %},
    "img": "{{ collection.img | escape }}",
    "docs":[
    {% for doc in collection.docs %}
    {"title": "{{ doc.title | escape }}", "url": "{{ doc.url | relative_url | escape }}"
    }
    {% unless forloop.last %}, {% endunless %}
    {% endfor %}
    ]
    }
    {% unless forloop.last %}, {% endunless %}
    {% endfor %}
    }
</script>

<!-- post 좌측 메뉴  -->
<script>
    function escapeQuotesInHTMLTags(jsonString) { // HTML 태그 내의 큰따옴표를 이스케이프 처리
        return jsonString.replace(/<[^>]*>/g, function(match) {
            return match.replace(/"/g, '\\"');
        });
    }

    const path = window.location.pathname
    const label = path.split('/')[1]

    let jsonString = $('#collection').text()
    jsonString = escapeQuotesInHTMLTags(jsonString);
    jsonString = JSON.parse(jsonString)
    const data = jsonString[label]

    // header.html
    $('.header-path').html(`
        <span class="material-symbols-outlined">chevron_right</span>
        <a href="/posts/#${label}" class="post-label">${data['name']}</a>
        <span class="material-symbols-outlined">chevron_right</span>
        <span class="header-recent-file-path">{{page.title}}</span>
    `)

    if (label === 'project') { // project 라벨인 경우
        $('.header-path').html(`
        <span class="material-symbols-outlined">chevron_right</span>
        {{page.title}}
        `)
    }

    $('.header-side-menu-btn-group').html(`
        <i class="post-side-menu-open-btn fa-solid fa-bars"></i>
        <span class="post-side-menu-hide-btn material-symbols-outlined">keyboard_double_arrow_left</span>
    `)

    $('.post-side-menu-open-btn').on('click', function () {
        $('.post-side-menu').addClass('post-side-menu-show')
        $('header').addClass('post-header-move')
        $('.post-side-menu-open-btn').css('display', 'none')
        $('.post-side-menu-hide-btn').css('display', 'inline-block')
    })
    $('.post-side-menu-hide-btn').on('click', function () {
        $('.post-side-menu').removeClass('post-side-menu-show')
        $('header').removeClass('post-header-move')
        $('.post-side-menu-open-btn').css('display', 'inline-block')
        $('.post-side-menu-hide-btn').css('display', 'none')
    })

    const html = data['docs'].map(doc => {
        return `
            <a class="post-menu-title" href='${doc.url}'>${doc.title}</a>
        `
    }).join('');
    $('.post-side-menu').append(html)
</script>

<!-- 사용자 정의 태그 소괄호는 js/custom/latex-with-parentheses-tag.js 에 정의 -->
<script>
    $(document).ready(function () {
        // 전체
        let html = $('.post-content').html()

        // @@ <desc></desc>
        html = html.replace(/@@(.+?)(\r\n|[\s]*\r|\n|$)/g, "<desc>$1</desc>$2");

        // ++ <plus></plus>
        html = html.replace(/\+\+(.+?)(\r\n|[\s]*\r|\n|$)/g, "<plus>$1</plus>$2");

        $(".post-content").html(html);
    })
</script>

<!-- 우측 게시글 nav -->
<script src="{{root_url}}/public/js/custom/post-side-nav.js"></script>
