<header>
    <a href="/">home</a>
    <span class="material-symbols-outlined">chevron_right</span>
    <a class="post-label"></a>
    <span class="material-symbols-outlined">chevron_right</span>
    {{page.title}}
</header>
<div class="post-head">
    <div class="post-title">{{page.title}}</div>
    <div class="post-date">{{ page.date | date: "%Y-%m-%d %H:%M:%S" }}</div>
</div>
<div class="post-container">
    <div class="post-side"></div>
    <div class="post-content">{{content}}</div>
    <div class="post-side">
        <div class="post-side-fixed">
            <div class="post-side-column-direction-scroll">
                <div class="post-nav"></div>
            </div>
        </div>
    </div>
</div>
<script id="collection" type="application/json">
    {
    {% for collection in site.collections %}
    "{{ collection.label | escape }}": {
    "name": {% if collection.name %}"{{ collection.name | escape }}"{% else %}"{{ collection.label | escape }}"{% endif %},
    "emoji": "{{ collection.emoji | escape }}",
    "docs":[
    {% for doc in collection.docs %}
    {"title": "{{ doc.title | escape }}", "url": "{{ doc.url | relative_url | escape }}"
    }
    {% unless forloop.last %}, {% endunless %}
    {% endfor %}
    ]
    }
    {% unless forloop.last %}, {% endunless %}
    {% endfor %}
    }
</script>
<script>
    function escapeQuotesInHTMLTags(jsonString) { // HTML 태그 내의 큰따옴표를 이스케이프 처리
        return jsonString.replace(/<[^>]*>/g, function(match) {
            return match.replace(/"/g, '\\"');
        });
    }

    const path = window.location.pathname
    const label = path.split('/')[1]

    let jsonString = $('#collection').text()
    jsonString = escapeQuotesInHTMLTags(jsonString);
    jsonString = JSON.parse(jsonString)

    const data = jsonString[label]

    $('.post-label').html(`${data['name']}`)
    $('.post-label').attr('href', `/posts/#${label}`)

    function clickPost(url) {
        window.location.href = url
    }

    const html = data['docs'].map(doc => {
        return `<div onclick="clickPost('${doc.url}')" class="post-menu-title">${doc.title}</div>`
    }).join('');
    $('.post-menu').append(html)
</script>

<script>
        $(document).ready(function () {
            $('h3, h4, h5').each(function (index) {
                let headerId = `header-${index}`
                $(this).attr('id', 'header-' + index);

                let indentCount = this.tagName.replace('H', '') - 2
                let navItem = $('<div></div>').addClass('post-nav-item').addClass(`post-nav-item-${indentCount}`).html($(this).text()).attr('title', $(this).text())

                navItem.on('click', function(e) {
                    $('html, body').animate({
                        scrollTop: $(`#${headerId}`).offset().top - 10
                    }, 500)
                })

                $('.post-nav').append(navItem)
            });
        });
</script>