<link rel="stylesheet" href="{{root_url}}/public/css/posts.css">
<script id="documents" type="application/json">
    [
        {% assign sorted_docs = site.documents | sort: "created_date" | reverse %}
        {% for doc in sorted_docs %}
        {% assign arr = doc.path | split: '/' %}
        {% assign index = arr.size | minus: 2 %}
        {
            "label": "{{ arr[index] }}",
            "image": "{{ doc.img }}",
            "url": "{{ doc.url | relative_url | escape }}",
            "title": "{{ doc.title | escape }}",
            "date": "{{ doc.created_date | date: '%Y-%m-%d' | escape }}",
            "content": "{{ doc.content | strip_html | strip_newlines | escape }}"
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ]
</script>
<div class="category-head-block">
    <span class="directory-name"></span>
    <input type="image" class="posts-image"  src="" alt="이미지" />
</div>
<div class="row category"></div>
<div class="page-block"></div>

<script>
    const root_url = window.location.origin
    let jsonData = $('#documents').text().trim().replace(/\\/g, '\\\\')
    jsonData = JSON.parse(jsonData)

    const limit = 9

    fetch(`${root_url}/directory_info.json`)
        .then(res => res.json())
        .then(data => {
            jsonData.forEach(row => {
                row.icon = data[row.label]
            })
        }).then(() => init())

    function init() {
        const hash = decodeURIComponent(window.location.hash.substring(1)).trim();
        const arr = hash.split('^')
        const category = arr[0]
        const page = arr[1].split('?')[0]
        const query = arr[1].split('?')[1]

        const event = window.MyEvent({
            category: category
        })

        let filteredData = jsonData

        if (category !== 'total' && category !== 'search') {
            filteredData = jsonData.filter(data => data.label.trim() === category)
        }
        if (query) { // 검색
            filteredData = jsonData.filter(data =>
                (data.title && data.title.toLowerCase().includes(query.toLowerCase())) ||
                (data.content && data.content.toLowerCase().includes(query.toLowerCase()))
            )
        }


        const component = window.Component({
            jsonData: filteredData,
            limit: limit,
            category: category,
            currentPage: page,
            query: query
        })

        event.category()

        const $categoryRow = $('.row.category')
        const categoryArr = component.category()
        $categoryRow.empty()
        $categoryRow.append(categoryArr)
        if (categoryArr.length === 0) {
            $categoryRow.append('<div class="col-12">Empty</div>')
        }
        $('.page-block').html(component.page())


        fetch(`${root_url}/directory_css.json`).then(res => res.json()).then(jsonData => {
            jsonData.forEach(css => {
                $(`.post-image.${css.label}`).css('background', css.background)
                $(`.post-image.${css.label} i`).css('color', css.color)
            })
        })

        const randomNo = Math.floor(Math.random() * 10) + 1
        const src = `${root_url}/public/img/directory/random` + randomNo + ".jpg"
        $('.posts-image').attr('src', src)
    }

    $(window).on('hashchange', init)
</script>