<script>
	$(document).ready(function() {
    	adjustFixedNavHeight();
    	fixedNavResize();

    	$('.post-content').html(function(i, oldHtml) {
			return oldHtml.replace(/(\n\n\n)+/g, function(match) { return match.slice(1) });
		});

		setDynamicLineHeight()
	})

	$(window).resize(() => {
		adjustFixedNavHeight()
		fixedNavResize()
	})

	function adjustFixedNavHeight() {
		var postNav = $('.post-nav');
		var fixedNav = $('.fixed-nav');

		var navHeight = $(window).innerHeight() - fixedNav.offset().top - 80;
		var navWidth = postNav.outerWidth() - ($('article').css('padding-left') * 2)
		fixedNav.css('height', navHeight + 'px');
		fixedNav.css('width', postNav.outerWidth() + 'px');
	}

	const fixedNavResize = () => {
		$('.post-nav-item').css('width', ($('.post-nav').width()) + 'px')
	}

	function setDynamicLineHeight() {
		$('.post-contents p, .post-contents ul ul li').each(function () {
			var lineHeight = parseFloat($(this).css('line-height'));
			var height = $(this).height();				
			if (height > lineHeight) {				
				$(this).css('line-height', '1.9');
			} else {				
				$(this).css('line-height', '1.2');
			}
		});
	}
</script>
<article class="post">
	<header class="post-header custom-post-header">
		<div class="category-title">{{ page.title | escape }}</div>
		<time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{%- assign date_format = site.date_forma | default: "%Y/%m/%d %H:%M" -%}
			{{ page.date | date: date_format }}
		</time>
	</header>
	<div class="flex-container">
		<div class="post-left-margin"></div>
		<div class="post-contents">
			<div class="post-content">{{ content }}</div>
			<div class="post-navigation">
				{% if page.previous %}
				<div class="pre-post">
					<a href="{{ page.previous.url | relative_url }}" title="{{ page.previous.title | escape }}"><i class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp; {{ page.previous.title | escape }}</a>
				</div>				
				{% endif %}				

				{% if page.next %}
				<div class="next-post">
					<a href="{{ page.next.url | relative_url }}" title="{{ page.next.title | escape }}">{{ page.next.title | escape }}&nbsp;&nbsp; <i class="fa-solid fa-arrow-right"></i></a>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="post-nav">
			<div class="fixed-nav">{% include post-navbar.html %}</div>
		</div>
	</div>
</article>

<script>
// $(document).ready(() => {	
	
// 	$('.post-content').each(function() {
// 		var text = $(this).html(); // 현재 요소의 텍스트를 가져옵니다.
//     var updatedText = text.replace(/\n\n/g, "<br />"); // \n을 "카아"로 대체합니다.
//     $(this).html(updatedText); // 변경된 텍스트를 현재 요소에 설정합니다.	
// 	})
// })
</script>